In [72]:
import numpy as np
import pandas as pd
import pandas as pd
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [73]:
from sklearn.kernel_approximation import RBFSampler
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn import utils
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import (precision_score, recall_score,f1_score, accuracy_score,mean_squared_error,mean_absolute_error)
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import Normalizer
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix
from sklearn.metrics import (precision_score, recall_score,f1_score, accuracy_score,mean_squared_error,mean_absolute_error, roc_curve, classification_report,auc)

In [74]:
traindata=pd.read_csv("usi_tamil_girls_train.csv",sep=",")

In [75]:
traindata

,MEAN OF STE,MEAN OF ZC,VARIANCE OF STE,VARIANCE OF ZC,Q(STE) AT 25%,Q(STE) AT 50%,Q(STE) AT 75%,Q(STE) AT 100%,Q(ZC) AT 25%,Q(ZC) AT 50%,Q(ZC) AT 75%,Q(ZC) AT 100%,LABEL
0,44.698161,110.806452,1153.599268,3434.094624,2.785284,37.681114,56.065412,78.692370,72.5,82.9,106.1,151.1,0
1,64.449386,113.897436,4188.872281,3248.094467,3.132945,32.021504,64.384216,114.980959,76.2,90.7,113.3,143.5,0
2,59.225942,102.128205,3240.370433,1813.062078,0.811608,18.012061,76.102589,118.321148,69.6,85.1,97.0,129.0,0
3,49.476192,123.307692,2933.934391,5650.850202,0.582304,21.158179,43.570366,103.362568,76.6,93.2,111.8,143.2,0
4,49.987822,120.000000,3118.924161,5827.368421,0.457179,20.263509,47.649691,96.805879,73.0,87.6,103.8,142.2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,31.403136,83.111111,1240.024485,760.191919,0.681620,5.505169,34.179134,70.698420,64.0,69.5,77.5,101.5,9
406,39.273030,92.422222,1769.890573,1439.794949,1.007454,8.332989,42.118798,85.554578,62.5,71.0,87.5,117.0,9
407,34.293281,87.844444,1649.268078,1060.543434,0.625523,5.832506,29.510309,75.433836,62.0,68.5,84.5,115.0,9
408,31.638591,95.555556,1386.095293,1605.025253,0.937816,4.542373,27.664390,72.489319,62.0,76.5,88.0,138.0,9
409,23.040632,101.133333,2208.101071,1955.981818,0.037294,0.826008,6.879617,32.845055,69.0,81.0,92.0,117.5,9

In [76]:
testdata=pd.read_csv("usi_tamil_girls_test.csv",sep=",")

In [77]:
testdata

,MEAN OF STE,MEAN OF ZC,VARIANCE OF STE,VARIANCE OF ZC,Q(STE) AT 25%,Q(STE) AT 50%,Q(STE) AT 75%,Q(STE) AT 100%,Q(ZC) AT 25%,Q(ZC) AT 50%,Q(ZC) AT 75%,Q(ZC) AT 100%,LABEL
0,25.359999,117.666667,1521.785634,4794.859649,0.471132,2.150001,12.438122,54.139178,62.3,83.3,103.7,163.4,0
1,34.526234,125.487179,2367.113608,6855.835358,0.556499,3.773758,21.156072,75.629339,67.3,79.2,100.8,184.4,0
2,30.028528,127.307692,1592.501010,6129.534413,0.607623,3.840906,25.424440,60.984461,69.3,84.2,103.8,184.1,0
3,32.182777,114.717949,2535.191798,4544.681511,0.607623,5.052818,18.457044,44.774074,64.3,76.3,101.0,159.9,0
4,29.488278,124.102564,2540.124953,5484.199730,0.546005,3.592268,15.364807,46.633384,62.3,81.4,123.1,177.6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,25.698528,89.066667,2611.006248,674.563636,0.204652,1.710429,9.020520,27.316379,71.5,77.5,90.0,98.0,9
86,20.052271,90.311111,2250.470105,618.173737,0.175422,0.846753,6.481448,16.039634,76.0,82.0,89.5,98.0,9
87,20.633877,84.444444,2044.953424,683.752525,0.204652,1.405524,6.555090,23.519959,70.0,75.0,80.0,90.0,9
88,23.328874,90.533333,3033.102697,652.754546,0.175422,1.207939,6.836987,16.836377,74.5,80.5,90.0,99.5,9
89,18.188708,90.288889,1486.452649,642.346465,0.130175,1.095063,7.778585,18.205996,74.5,80.0,89.5,99.0,9

In [78]:
X = traindata.iloc[:,0:11]
Y = traindata.iloc[:,12]
C = testdata.iloc[:,12]
T = testdata.iloc[:,0:11]

In [79]:
X

,MEAN OF STE,MEAN OF ZC,VARIANCE OF STE,VARIANCE OF ZC,Q(STE) AT 25%,Q(STE) AT 50%,Q(STE) AT 75%,Q(STE) AT 100%,Q(ZC) AT 25%,Q(ZC) AT 50%,Q(ZC) AT 75%
0,44.698161,110.806452,1153.599268,3434.094624,2.785284,37.681114,56.065412,78.692370,72.5,82.9,106.1
1,64.449386,113.897436,4188.872281,3248.094467,3.132945,32.021504,64.384216,114.980959,76.2,90.7,113.3
2,59.225942,102.128205,3240.370433,1813.062078,0.811608,18.012061,76.102589,118.321148,69.6,85.1,97.0
3,49.476192,123.307692,2933.934391,5650.850202,0.582304,21.158179,43.570366,103.362568,76.6,93.2,111.8
4,49.987822,120.000000,3118.924161,5827.368421,0.457179,20.263509,47.649691,96.805879,73.0,87.6,103.8
...,...,...,...,...,...,...,...,...,...,...,...
405,31.403136,83.111111,1240.024485,760.191919,0.681620,5.505169,34.179134,70.698420,64.0,69.5,77.5
406,39.273030,92.422222,1769.890573,1439.794949,1.007454,8.332989,42.118798,85.554578,62.5,71.0,87.5
407,34.293281,87.844444,1649.268078,1060.543434,0.625523,5.832506,29.510309,75.433836,62.0,68.5,84.5
408,31.638591,95.555556,1386.095293,1605.025253,0.937816,4.542373,27.664390,72.489319,62.0,76.5,88.0
409,23.040632,101.133333,2208.101071,1955.981818,0.037294,0.826008,6.879617,32.845055,69.0,81.0,92.0

In [80]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
405    9
406    9
407    9
408    9
409    9
Name: LABEL, Length: 410, dtype: int64

In [81]:
C

0     0
1     0
2     0
3     0
4     0
     ..
85    9
86    9
87    9
88    9
89    9
Name: LABEL, Length: 90, dtype: int64

In [82]:
T

,MEAN OF STE,MEAN OF ZC,VARIANCE OF STE,VARIANCE OF ZC,Q(STE) AT 25%,Q(STE) AT 50%,Q(STE) AT 75%,Q(STE) AT 100%,Q(ZC) AT 25%,Q(ZC) AT 50%,Q(ZC) AT 75%
0,25.359999,117.666667,1521.785634,4794.859649,0.471132,2.150001,12.438122,54.139178,62.3,83.3,103.7
1,34.526234,125.487179,2367.113608,6855.835358,0.556499,3.773758,21.156072,75.629339,67.3,79.2,100.8
2,30.028528,127.307692,1592.501010,6129.534413,0.607623,3.840906,25.424440,60.984461,69.3,84.2,103.8
3,32.182777,114.717949,2535.191798,4544.681511,0.607623,5.052818,18.457044,44.774074,64.3,76.3,101.0
4,29.488278,124.102564,2540.124953,5484.199730,0.546005,3.592268,15.364807,46.633384,62.3,81.4,123.1
...,...,...,...,...,...,...,...,...,...,...,...
85,25.698528,89.066667,2611.006248,674.563636,0.204652,1.710429,9.020520,27.316379,71.5,77.5,90.0
86,20.052271,90.311111,2250.470105,618.173737,0.175422,0.846753,6.481448,16.039634,76.0,82.0,89.5
87,20.633877,84.444444,2044.953424,683.752525,0.204652,1.405524,6.555090,23.519959,70.0,75.0,80.0
88,23.328874,90.533333,3033.102697,652.754546,0.175422,1.207939,6.836987,16.836377,74.5,80.5,90.0
89,18.188708,90.288889,1486.452649,642.346465,0.130175,1.095063,7.778585,18.205996,74.5,80.0,89.5

In [83]:
scaler = Normalizer().fit(X)
trainX = scaler.transform(X)

In [84]:
scaler = Normalizer().fit(X)
trainX = scaler.transform(X)

In [85]:
scaler = Normalizer().fit(T)
testT = scaler.transform(T)

In [86]:
traindata = np.array(trainX)
trainlabel = np.array(Y)

In [87]:
testdata = np.array(testT)
testlabel = np.array(C)

In [88]:
import numpy as np
from sklearn                        import metrics, svm
from sklearn.linear_model           import LogisticRegression
from sklearn import preprocessing
from sklearn import utils

In [89]:
model = KNeighborsClassifier()
model.fit(traindata,trainlabel.astype('int'))

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [90]:
expected = testlabel
predicted = model.predict(testdata)

In [91]:
y_train1 = expected
y_pred = predicted
accuracy = accuracy_score(y_train1, y_pred)
recall = recall_score(y_train1, y_pred , average="macro")
precision = precision_score(y_train1, y_pred , average="macro")
f1 = f1_score(y_train1, y_pred, average="macro")

In [92]:
print("accuracy")
print("%.3f" %accuracy)
print("precision")
print("%.3f" %precision)
print("racall")
print("%.3f" %recall)
print("f1score")
print("%.3f" %f1)

accuracy
0.178
precision
0.134
racall
0.178
f1score
0.151